# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
.env
.venv
env/
venv/
ENV/
model_Deployment_*/

# Jupyter
.ipynb_checkpoints

# Streamlit secrets
.streamlit

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE configs
.vscode/
.idea/
*.iml

# Build / dist
build/
dist/
*.egg-info/

